{% extends 'base.html' %}
{% load staticfiles%}
{% block head_title %}
CheckOut
{% endblock %}

{% block extra_head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}


{% block content %}


<!--Main layout-->
<main class="mt-5 ">
  <div class="container wow fadeIn">


    <div class="alert" id="coupon-status" role="alert">
    </div>



    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->


          <form method="POST" class="card-body">
            {% csrf_token %}

            <h3>Shipping address</h3>

            <div class='hideable_shipping_form'>

              <div class="md-form mb-5">
                <input type='text' placeholder='1234 Main St' id='shipping_address' name='shipping_address'
                  class='form-control' />
                <label for="shipping_address" class="">Address</label>
              </div>

              <div class="md-form mb-5">
                <input type='text' placeholder='Apartment or suite' id='shipping_address2' name='shipping_address2'
                  class='form-control' />
                <label for="shipping_address2" class="">Address 2 (optional)</label>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Zip</label>
                  <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip'
                    class='form-control' />
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>




              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="set_default_shipping"
                  id="set_default_shipping">
                <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
              </div>

            </div>
            {% if default_address %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping"
                onchange="hidediv();">
              <label class="custom-control-label" for="use_default_shipping">Use default shipping address -
                {{shipping_address.street_address|truncatechars:10 }}</label>
            </div>
            {% endif %}

            <hr>

            <h3>Payment option</h3>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                  class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">
        {% include 'order_snippet.html' %}
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->

{% block extra_scripts %}
<script src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript">

  var hideable_shipping_form = $('.hideable_shipping_form');
  var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
  use_default_shipping.addEventListener('change', function () {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show();
    }
  })



  $('#cpost-form').on('submit', function (event) {
    event.preventDefault();
    console.log('form submitted');
    add_coupon();
  })

  function updateamount(couponPrice) {
    var famount = document.getElementById('totalamount').innerHTML;
    famount.innerHTML = famount.innerHTML - couponPrice;
  }

  function add_coupon() {
    $.ajax({
      url: 'http://127.0.0.1:8000/add_coupon/',
      type: 'POST',
      data: { code: $('#post-val').val() },
      success: function (json) {
        $('#post-val').val('');
        var code = json['code'];
        var price = Number(json['price']);
        console.log(code);
        var calert = document.getElementById('coupon-status');
        var cAdded = document.getElementById('promocodehide');
        var discoupon = document.getElementById('appliedcoupon');
        cAdded.style.removeProperty("display");
        calert.innerHTML = "Coupon Applied Successfully";
        calert.classList.add("alert-success")
        discoupon.innerHTML = String(code);
        updateamount(price);


      },
      error: function (xhr, errmsg, err) {
        console.log("Error");
        var cAdded = document.getElementById('coupon-status');
        cAdded.classList.add('alert-danger');
        cAdded.innerHTML = "Coupon Doesn't Exist";
      }
    })
  }


</script>
{% endblock %}

{% endblock %}