{% extends 'base.html' %}
{% block head_title %}Product Detail{% endblock %}
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        {% if object.image %}
        <img src="{{ object.image.url }}" class="img-fluid" alt="Not Found">
        {% endif %}
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-1">

          <div class="mb-3">
            <h1>{{ object.name }}</h1>
            <a href="">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </a>
            <a href="">
              <span class="badge badge-pill {{ object.get_label_display }}-color">
                {% if object.get_label_display == 'primary' %}
                Bestseller
                {% else %}
                NEW
                {% endif %}
              </span>
            </a>
          </div>

          <p class="lead">
            {% if object.discount_price %}
            <span class="mr-1">
              <del>{{ object.price }}</del>
            </span>
            <span>{{ object.get_item_price }}</span>
            {% else %}
            <span>{{ object.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque tempore reprehenderit maiores eaque minus, molestias ipsum architecto deleniti ut animi illo atque qui labore non beatae iste explicabo nesciunt quasi.</p>

          <a class="btn btn-primary btn-md my-0 p" href="{% url 'main:add-to-cart' slug=object.slug %}" type="submit">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->

{% endblock %}